$gray:#252835;
$light-gray:#535353;
$blue: royalblue;
$font-color:#8b8b8b;
$background: #5B5E6F;
$font: 'Hind Guntur', sans-serif;

*{
    padding: 0;
    margin: 0;
}
body{
    max-height: 100vh;

header{
    background-image: url(../images/cup-of-coffee-1280537_1920.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    div.header{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    div.panel{
    border-top:2px solid $blue;
    font-family: 'Hind Guntur', sans-serif;
    height: 500px;
    width: 400px;
    background-color: $gray;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    form{
        div.tittle{
            h1{
            font-weight: 500;
            font-size: 28px;
            text-align: center;
            padding-top: 65px;
            color: $font-color;
            border-bottom: 1px solid $blue;
            width: 320px;
            margin: 0 auto;
            }
        }
        div.user{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 170px;
            overflow: hidden;
        }
        div.key{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 250px;
            overflow: hidden;
        }
        i{
           position: absolute;
           padding: 15px 11px;
           margin-top: 1px;
           margin-bottom: 1px;
           background-color:$blue;
           color: $gray;
           border: black solid 0;
           border-bottom-left-radius: 20px;
           border-top-left-radius: 20px;
           font-size: 20px;
           opacity: 0;
           transition:1s;
       }
        input{
            box-sizing: border-box;
            height: 50px;
            width: 270px;
            border-left: none;
            border-right: none;
            border: 1px solid $light-gray;
            background-color: $background;
            border-radius: 20px;
            padding-left: 15px;
            transition: .2s;
            color: $gray;
        }
        input:focus{
            outline: -webkit-focus-ring-color auto 0;
            padding-left: 45px;
            border: 1px royalblue solid;
          }
        input.login:focus+i.fa-user{
            opacity: 1;
            left: 0;
        }
        input.password:focus+i.fa-key{
            opacity: 1;
            left: 0;
        }
    }

   button{
        position: absolute;
        cursor: pointer;
        top: 380px;
        left: 50%;
        transform: translateX(-50%);
        width: 170px;
        height: 45px;
        color: $blue;
        background-color:$gray;
        border: 1px solid $blue;
        border-radius: 20px;
        transition: .5s;
       p{
        font-weight: 300;
        font-size: 18px;
        text-align: center;
        text-transform: uppercase;
        margin: 7px;
       }
   }
   button:hover{
        width: 185px;
        background-color: $blue;
        color: $gray;
        border: 1px solid $light-gray;
   }
   button:focus{
    outline: -webkit-focus-ring-color auto 0;
  }

    }}}

footer{
    position: absolute;
    height: 58px;
    width: 100vw;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    a.paragraph{
        text-decoration: none;
        font-family: $font;
        font-size: 18px;
        color: $font-color;
        p{
            text-align: center;
            line-height: 58px;
    }}
    
    a.logo-footer{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        // left: 51%;
        left: 94%;
        width: 40px;
        height: 40px;
        img{
            width: 40px;
        }
    }
    a.facebook-footer{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        // left:47%;
        left: 91%;
        i{
            color: #3b5998;
            font-size: 40px;

        }
    }

}






}