* {
  padding: 0;
  margin: 0;
}

body {
  max-height: 100vh;
}

body header {
  background-image: url(../images/cup-of-coffee-1280537_1920.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

body header div.header {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

body header div.header div.panel {
  border-top: 2px solid royalblue;
  font-family: 'Hind Guntur', sans-serif;
  height: 500px;
  width: 400px;
  background-color: #252835;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body header div.header div.panel form div.tittle h1 {
  font-weight: 500;
  font-size: 28px;
  text-align: center;
  padding-top: 65px;
  color: #8b8b8b;
  border-bottom: 1px solid royalblue;
  width: 320px;
  margin: 0 auto;
}

body header div.header div.panel form div.user {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 170px;
  overflow: hidden;
}

body header div.header div.panel form div.key {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 250px;
  overflow: hidden;
}

body header div.header div.panel form i {
  position: absolute;
  padding: 15px 11px;
  margin-top: 1px;
  margin-bottom: 1px;
  background-color: royalblue;
  color: #252835;
  border: black solid 0;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  font-size: 20px;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

body header div.header div.panel form input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 50px;
  width: 270px;
  border-left: none;
  border-right: none;
  border: 1px solid #535353;
  background-color: #5B5E6F;
  border-radius: 20px;
  padding-left: 15px;
  -webkit-transition: .2s;
  transition: .2s;
  color: #252835;
}

body header div.header div.panel form input:focus {
  outline: -webkit-focus-ring-color auto 0;
  padding-left: 45px;
  border: 1px royalblue solid;
}

body header div.header div.panel form input.login:focus + i.fa-user {
  opacity: 1;
  left: 0;
}

body header div.header div.panel form input.password:focus + i.fa-key {
  opacity: 1;
  left: 0;
}

body header div.header div.panel button {
  position: absolute;
  cursor: pointer;
  top: 380px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 170px;
  height: 45px;
  color: royalblue;
  background-color: #252835;
  border: 1px solid royalblue;
  border-radius: 20px;
  -webkit-transition: .5s;
  transition: .5s;
}

body header div.header div.panel button p {
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  margin: 7px;
}

body header div.header div.panel button:hover {
  width: 185px;
  background-color: royalblue;
  color: #252835;
  border: 1px solid #535353;
}

body header div.header div.panel button:focus {
  outline: -webkit-focus-ring-color auto 0;
}

body footer {
  position: absolute;
  height: 58px;
  width: 100vw;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

body footer a.paragraph {
  text-decoration: none;
  font-family: "Hind Guntur", sans-serif;
  font-size: 18px;
  color: #8b8b8b;
}

body footer a.paragraph p {
  text-align: center;
  line-height: 58px;
}

body footer a.logo-footer {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 94%;
  width: 40px;
  height: 40px;
}

body footer a.logo-footer img {
  width: 40px;
}

body footer a.facebook-footer {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 91%;
}

body footer a.facebook-footer i {
  color: #3b5998;
  font-size: 40px;
}
/*# sourceMappingURL=style.css.map */